__pycache__/
*.pyc
.venv
.venv.nosync/
.env
*.egg-info/
outputs/
analyses/*
!analyses/check-curation-preflight.ipynb
!analyses/identify-new-indications.ipynb
!analyses/revise-existing-indications.ipynb
